[submodule "Sunscatter/fw/inc/mbed-os"]
	path = Sunscatter/fw/inc/mbed-os
	url = https://github.com/ARMmbed/mbed-os
[submodule "Sunscatter/pcb"]
	path = Sunscatter/pcb
	url = https://github.com/lhr-solar/Power-Generation-Sunscatter-PCB.git
[submodule "Curve_Tracer/pcb"]
	path = Curve_Tracer/pcb
	url = https://github.com/lhr-solar/Power-Generation-Curve-Tracer-PCB.git
[submodule "Modules"]
	path = Modules
	url = https://github.com/lhr-solar/Power-Generation-Solar-Module-PCBs.git
