[submodule "Power-Generation-Eclipse-SW"]
	path = Power-Generation-Eclipse-SW
	url = https://github.com/lhr-solar/Power-Generation-Eclipse-SW.git
[submodule "pv_curve_tracer"]
	path = pv_curve_tracer
	url = https://github.com/lhr-solar/Power-Generation-Curve-Tracer.git
[submodule "sunscatter_gen2"]
	path = sunscatter_gen2
	url = https://github.com/dimembermatt/MPPT-Design.git
[submodule "sunscatter_gen1"]
	path = sunscatter_gen1
	url = https://github.com/lhr-solar/Power-Generation-Sunscatter.git
[submodule "blackbody"]
	path = blackbody
	url = https://github.com/lhr-solar/Power-Generation-Blackbody.git
[submodule "heliosphere"]
	path = heliosphere
	url = https://github.com/lhr-solar/Power-Generation-Heliosphere.git
[submodule "models"]
	path = models
	url = https://github.com/lhr-solar/Power-Generation-Models.git
[submodule "Power-Generation-Characterization"]
	path = Power-Generation-Characterization
	url = git@github.com:lhr-solar/Power-Generation-Characterization.git
