[submodule "Sunscatter/fw/inc/mbed-os"]
	path = Sunscatter/fw/inc/mbed-os
	url = https://github.com/ARMmbed/mbed-os
[submodule "Modules"]
	path = Modules
	url = https://github.com/lhr-solar/Power-Generation-Solar-Module-PCBs.git
[submodule "Power-Generation-Eclipse-SW"]
	path = Power-Generation-Eclipse-SW
	url = https://github.com/lhr-solar/Power-Generation-Eclipse-SW.git
[submodule "pv_curve_tracer"]
	path = pv_curve_tracer
	url = https://github.com/lhr-solar/Power-Generation-Curve-Tracer.git
[submodule "sunscatter"]
	path = sunscatter
	url = https://github.com/lhr-solar/Power-Generation-Sunscatter.git
