asteval==0.9.28
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
Cython==0.29.32
dill==0.3.6
fonttools==4.38.0
future==0.18.2
kiwisolver==1.4.4
lmfit==1.1.0
matplotlib==3.6.2
multiprocess==0.70.14
numpy==1.23.5
p-tqdm==1.4.0
packaging==22.0
pandas==1.5.2
pathos==0.3.0
Pillow==9.3.0
plottable==0.1.5
pox==0.3.2
ppft==1.7.6.6
pretty-traceback==2022.1018
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
pytz==2022.6
scipy==1.9.3
six==1.16.0
tqdm==4.64.1
uncertainties==3.1.7
